@model DataViewModel
@{
    Layout = "_SideLayout";
    var image_path = $"/Image/{Model.Fakulte.FakulteResim}";
}
<section id="first-section">
    <div class="container-fluid side-content">
        <div class="row">
            <div class="col-md-4">
                <img src="@image_path" />
            </div>
            <div class="col-md-8">
                <h4>@Model.Fakulte.FakulteAd</h4>
                <p>@Model.Fakulte.FakulteAciklama</p>
                
                <h5>Bölümler</h5>
                <ul>
                    @foreach (var bolum in Model.Bolumler)
                    {
                        <li>@bolum.BolumAdi</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="overlay"><img src="~/imgs/campus-bg.jpg"></div>
</section>