@model Duyuru

<div class="duyurular" style="width:100%">
    <h5>@Model.DuyuruBaslik <small style="font-size:12px;color:gray;float:right;">@Model.DuyuruTarih</small></h5>
    

    <p>@Model.DuyuruAciklama</p>
</div>