@model Etkinlik

<div class="duyurular" style="width:100%">
    <h5>@Model.EtkinlikBaslik <small style="font-size:12px;color:gray;float:right;">@Model.EtkinlikTarih</small></h5>


    <p>@Model.EtkinlikAciklama</p>
</div>