@model IEnumerable<Bolum>
@{
    Layout = "_PanelLayout";
}
<div class="bolumler">
    <a style="display:inline-block;"><h5>BÖLÜMLER</h5></a>
    <a asp-controller="Panel" asp-action="EditBolumler" style="display:inline-block;float:right;"><h5>Bölüm Ekle</h5></a>
    <ul>
        @foreach (var bolum in Model)
        {
            <li>
                <a>
                    @bolum.BolumAdi
                </a>
                -
                <a asp-controller="Panel" asp-action="EditBolumler" asp-route-id="@bolum.Id">
                    (Düzenle)
                </a>
                -
                <a asp-controller="Panel" asp-action="RemoveBolum" asp-route-id="@bolum.Id">
                    (Kaldır)
                </a>
            </li>
        }
    </ul>
</div>