@model IEnumerable<Duyuru>
@{
    Layout = "_PanelLayout";
}
<div>
    <a style="display:inline-block;"><h5>DUYURULAR</h5></a>
    <a asp-controller="Panel" asp-action="Edit" style="display:inline-block;float:right;"><h5>Duyuru Ekle</h5></a>
    <ul>
        @foreach (var duyuru in Model)
        {
            <li>
                <a>
                    @duyuru.DuyuruBaslik
                </a>
                -
                <a asp-controller="Panel" asp-action="Edit" asp-route-id="@duyuru.Id">
                    (Düzenle)
                </a>
                -
                <a asp-controller="Panel" asp-action="Remove" asp-route-id="@duyuru.Id">
                    (Kaldır)
                </a>
            </li>
        }
    </ul>
</div>