@model YuksekOkul
@{
    Layout = "_PanelLayout";
}
<div>
    <h4>Yüksekokul Ekle/Güncelle</h4>
    <form asp-controller="Panel" asp-action="EditYuksekOkullar" method="post">
        @*Güncellemede kullanmak için Id bilgisini gizli olarak tutuyoruz *@
        <input asp-for="Id" type="hidden" />

        <div>
            <label>Yüksekokul Adı: </label>
            <input asp-for="YuksekOkulAd" />
        </div>
        <br />
        <div>
            <label>Yüksekokul Adres: </label>
            <input asp-for="YuksekOkulAdres" />
        </div>
        <br />
        <div>
            <label>Yüksekokul Telefon: </label>
            <input asp-for="YuksekOkulTel" />
        </div>
        <br />
        <div>
            <label>Yüksekokul Mail: </label>
            <input asp-for="YuksekOkulMail" />
        </div>
        <br />
        <input type="submit" value="Gönder" />
    </form>
</div>
@section scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
}