@model Bolum
@{
    Layout = "_PanelLayout";
}
<link href="~/js/Trumbowyg-main/dist/ui/trumbowyg.min.css" rel="stylesheet" />
<div>
    <form asp-controller="Panel" asp-action="EditBolumler" method="post">
        @*Güncellemede kullanmak için Id bilgisini gizli olarak tutuyoruz *@
        <input asp-for="Id" type="hidden" />
        <input asp-for="FakulteId" type="hidden" />
        <div>
            <label>Bölüm Adı: </label>
            <input asp-for="BolumAdi" />
        </div>
        <div>
            <label>Bölüm Tipi: </label>
            <br />
            <textarea id="editor" asp-for="BolumTipi"></textarea>
        </div>

        <div>
            <label>Fakültesi: </label>
            <select id="fakulteler" asp-for="Fakultesi">
                <option value="Mühendislik Fakültesi">Mühendislik</option>
                <option value="Hukuk Fakültesi">Hukuk</option>
            </select>
        </div>


        <input type="submit" value="Gönder" />
    </form>
</div>
@section scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/Trumbowyg-main/dist/trumbowyg.min.js"></script>
    <script>
        $("#editor").trumbowyg();
    </script>
}