@model Bolum
@{
    Layout = "_PanelLayout";
}
<div>
    <form asp-controller="Panel" asp-action="EditBolumler" method="post">
        @*Güncellemede kullanmak için Id bilgisini gizli olarak tutuyoruz *@
        <input asp-for="Id" type="hidden" />

        <div>
            <label>Bölüm Adı: </label>
            <input asp-for="BolumAdi" />
        </div>

        <div>
            <label>Bölüm Tipi: </label>
            <br />
            <textarea asp-for="BolumTipi"></textarea>
        </div>

    <select id="fakulteler" asp-for="FakulteId">
        @foreach (var fakulte in ViewBag.Funds)
        {
            <option value="@fakulte.Id">@fakulte.FakulteAd</option>
        }
    </select>

        <input type="submit" value="Gönder" />
    </form>
</div>
@section scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
}