@model IEnumerable<YuksekOkul>
@{
    Layout = "_PanelLayout";
}
<div class="yuksekokullar">
    <a style="display:inline-block;"><h5>YÜKSEK OKULLAR</h5></a>
    <a asp-controller="Panel" asp-action="EditYuksekOkullar" style="display:inline-block;float:right;"><h5>Yüksekokul Ekle</h5></a>
    <ul>
        @foreach (var yuksekOkul in Model)
        {
            <li>
                <a>
                    @yuksekOkul.YuksekOkulAd
                </a>
                -
                <a asp-controller="Panel" asp-action="EditYuksekOkullar" asp-route-id="@yuksekOkul.Id">
                    (Düzenle)
                </a>
                -
                <a asp-controller="Panel" asp-action="RemoveYuksekOkul" asp-route-id="@yuksekOkul.Id">
                    (Kaldır)
                </a>
            </li>
        }
    </ul>
</div>