@model DataViewModel

<section id="first-section">
    <div class="container-fluid side-content">
        <div class="row">
            <div class="col-md-4">
                <div id="fakulteImg"></div>
            </div>
            <div class="col-md-8">
                <h4>@Model.Duyuru.DuyuruBaslik</h4>
                <p>@Model.Duyuru.DuyuruAciklama</p>
            </div>
        </div>
    </div>
    <div class="overlay"><img src="~/imgs/campus-bg.jpg"></div>
</section>